@use "mixins" as mixins;

.flow-chart-wrapper {
    position: absolute;
    inset: 0;
    background-color: rgb(32, 28, 73);

    @include mixins.flexCenter;
}

.flow-chart-container {
    width: 1400px;
    height: 700px;
    background-color: white;
}

.element {
    min-width: 200px;
    min-height: 100px;

    max-width: 200px;

    background-color: orange;
    @include mixins.flexCenter;

    text-align: center;

    border-radius: 5px;

    padding: 4px;
}
